*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geneva, Verdana, sans-serif;
}
#Suggestion_btn{
  padding: 6px;
  border-radius: 8px;
  color: #29a8ab;

}
body{
    position: relative;
    background: linear-gradient(125deg, #22c1c3 20%, #fdbb2d);
}

body::-webkit-scrollbar {
    display: none;
}

.c{
  position: relative;
  color: white
}

.c img{
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 10vw;
}

#ei{
  left: 10%;
  filter: invert(100%);
  border: #000000 1px solid;
  border-radius: 50%;
}

.EI{
  font-weight: 700;
  font-family: 'Rokkitt' !important;

}

.navbar{
  background-color: #ffffff;
  background-image: linear-gradient(15deg, #22c1c3 30%, #d7e1ec 80%);
}

.rd_cnt{
  font-weight: 200
}

.img_responsive{
  max-width: 100%;
  height: auto;
}
.video_responsive{
  max-width: 100%;
  height: auto;
}
a:hover {
    color: #bbbbbb;
}
hr{
  border-top : 1px solid #29a8ab;
}
a{
    text-decoration: none;
    font-size: 28px;
    color: #29a8ab;
    padding-left: 8px;
}

a{
    padding-top: 24px;
}
html{
    scroll-behavior: smooth;
    transition: all .2s ease;
}

.fixed-img{
    background-image: url("Img/fixedImg.jfif");
/* 
    height: 760px; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px;

    position: relative;

    text-align: center;
}

.rounded{
    color: #fdbb2d;

    background-color: rgb(255, 255, 255);

    padding: 4em;
    max-width: 600px;

    margin: auto auto;

    display: block;

    overflow-wrap: break-word;
}

@media screen and (max-width: 1080px) {
  .rounded{
    width: 500px;
  }

  .fixed-img{
    background-position: right;
  }
}

@media screen and (max-width: 720px) {
  .rounded{
    width: auto;
    padding: 3em;
  }

  .fixed-img{
    background-position: right;
    padding: 40px;
  }
}

@media screen and (max-width: 570px) {
  .rounded{
    width: auto;
    padding: 2em;
  }

  .fixed-img{
    background-position: right;
    padding: 20px;
  }
}

#nitap{
    /* -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease; */
    transition: all .2s ease;
    cursor: url(./Img/pointer.png), default
}

.navbar{
    background-color: white !important;
    opacity: 0;
}

nav a{
    font-size: 15px;
    color: #29a8ab;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    transition: all .5s ease-in-out;
}

nav a:hover, .active {
    height: 100%;
    z-index: 0;
    background: #29a8ab;
    color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.about{
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
    font-size: medium;

    color:aliceblue
}

.about h3{
  font-weight: 500;
}

.bd{
    background-color: transparent;
    padding: 80px;
}

.cnt{
    background-color: transparent;
    padding: 2em
}

.col-md-6.cnt{
  background-color: #29a8ab;
  padding: 3em;
  margin-right: auto;
  word-wrap: break-word;
  font-size: medium;
}

@media screen and (max-width: 1080px) {
  .col-md-6.cnt{
    font-size: .8em;
  }
}

.carousel-item{
  background-color: transparent;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid rgb(0, 40, 70);
    background-color: transparent;
    color: rgba(120, 0, 50, .5);
    text-decoration: double;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    animation: border-flicker 2s linear forwards;
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
    transition: all .5s linear;
}

@keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      background-color: rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
}

.gal:hover{
  transform: skewX(5deg);
  opacity:1;
  transition: all .2s
}

.gal{
  width:100%;
  opacity: 0.9;
}

.carousel-indicators li.active {
  background-color: #1b797a
}

.carousel-indicators li{
  background-color: #29a8ab;
}

.carousel-item div.row div.col-md-3 a{
  position:relative; font-weight:500; color: rgb(255, 255, 255); background-color: #126163a9; top: 50%; transform: translate(-50%, -50%);
}

.carousel-item div.row div.col-md-3 a:hover{
  
  background-color: linear-gradient(15deg, #22c378 30%, #d7e1ec 80%);
}

.grid-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

@media (max-width: 1080px) {
  .grid-container {
    display: block;
  }
}
